{% extends 'base.html.twig' %}

{% block title %}Session {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Programme de la Session</h1>
    {# <h2><a href="">Ajouter un un programme</a><br></h2> #}
    <h2> {{session}} </h2>
    <p>Date de début : {{session.datestart | date('Y-m-d') }}</p>
    <p> Date de fin : {{session.dateend | date('Y-m-d') }}</p>
    <p>Nombre de places : {{session.places}}</p>
    <p> Nombre de place restante : {{ session.NbPlacesRestante }}
    
        {# {{dump(session.programmes)}} #}
<table>
    <thead>
        <tr>
            <th> Module </th>
            <th>Durée</th>
            <th>Déprogrammer</th>
            
            
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for programme in session.programmes %}
            <td>{{programme.module}} <br></td>
            <td>  {{ programme.nbjours}}  </td> 
            <td> <a href="{{ path('delete_session',{'id': session.id}) }}"><i class="fa-solid fa-calendar-xmark"></i></i></a> </td>
       
        </tr>
        {% endfor %}
    </tbody>
</table>
 
 <h3> Liste de stagiaire dans cette formation : </h3>

 <table>
    <thead>
        <tr>
            <th> Nom </th>
            <th>Date de Naissance</th>
            <th> Désinscrire</th>
            
        </tr>
    </thead>
    <tbody>
    {% for stagiaire in session.stagiaires %}
          <td>{{stagiaire.nom}} {{stagiaire.prenom}} <hr> </td> 
           <td>{{stagiaire.born | date('Y-m-d')}} <hr></td> 
           <td><a href="{{ path('delete_stagiaire_session',{'idSession': session.id, 'idStagiaire' : stagiaire.id}) }}"><i class="fa-solid fa-skull-crossbones"></i></a> </td>
        <tr>
              {% endfor %} 
    </tbody>
</table>

        <h2> Liste des stagiaires Pas isncrit</h2>
        <table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Date de Naissance</th>
            <th>Inscrire</th>
            <th>
        </tr>
    </thead>
    <tbody>
    {% for stagiaire in nonInscrits %}
          <td>{{stagiaire.nom}} {{stagiaire.prenom}} <hr> </td> 
           <td>{{stagiaire.born | date('Y-m-d')}} <hr></td>
           <td> <a href="{{ path('add_stagiaire_session',{'idSession': session.id, 'idStagiaire' : stagiaire.id}) }}"><i class="fa-solid fa-user-plus"></i></a></td> 
        <tr>
              {% endfor %} 
    </tbody>
</table>

    
        
        
       

<a href="">ajouter</a>

 
      

        {# {% for programme in session.programmes %}
                    {{programme.module}} Nombre de jours de ce programme : {{ programme.nbjours}}
                  

       
        {% for session in session.stagiaires %}
         <td> {{session.nom}} {{session.prenom}}<hr><br></td>   
        {% endfor %} 
                  #}
                
</div>
{% endblock %}